#meu-container {
  display: grid;
  grid-template-rows: 6em 1fr 6em;
  grid-template-columns: 1fr 80% 1fr;

  grid-template-areas:
    "nav nav nav"
    ". table ."
    ". btn .";
}

#minha-linda-tabela {
  grid-area: table;
}

#meu-nav {
  grid-area: nav;
}

#toggle-dark-mode {
  grid-area: btn;
}

.main {
  min-height: 100vh;
}
